"\e[A": history-search-backward
"\e[B": history-search-forward
set history-preserve-point on

# Note: must set \e[0C and similar sequences in terminal prog

"\e[5C": forward-word
"\e[5D": backward-word

# move to options
"\C-s": "\C-a\e[5C"

# new delete commands
"\e[1C": kill-word 
"\e[1D": backward-kill-word 
"\e[3~": delete-char

"\ea": backward-kill-line
"\ee": kill-line

"\C-v": unix-line-discard
"\C-u": undo
"\C-z": undo

# do history expansion
$if Bash
    Space: magic-space
$endif

# tab completion options
set show-all-if-ambiguous on
set visible-stats on
set mark-directories on
set mark-symlinked-directories on
set completion-ignore-case on
set print-completions-horizontally off
set page-completions off

# shift tab cycles through completions
"\C-y": menu-complete

# reverse menu complete (no workie)
# "\C-y": "\M--\C-i"
#"\e[0A": "\e--\C-i"

"\e[0A": complete-variable 

"\M-/": complete-filename

# Make Bash 8bit clean
set meta-flag on
set input-meta on
set convert-meta off
set output-meta on

