[user]
    name = sigh
    email = dilshan.a@gmail.com
[core]
    editor = vim
[merge]
    tool = vimdiff
[alias]
    d = diff
    h = help
    b = branch
    a = add
    m = merge

    st = status
    ci = commit
    ca = commit -a
    co = checkout
    br = branch
    ls = ls-files

    stat = status

    log = log --graph

    # display all commits in all branches
    rl = rev-list --pretty=oneline --all --graph --abbrev-commit -n 100

    # open a github url for the current git repo
    hub = !git remote -v|sed "'s|.*git[:@]\\(.*\\).git.*|http://\\1|;s|m:|m/|'"|uniq|xargs open

    # view the staged changes
    staged = diff --cached

    # commit all with an message (which need not be quoted)
    cm = "!f() { git commit -a -m \"$*\" ; }; f"

    # force an action on a dirty working set
    #  if there are local changes then we stash them first
    force = "!f() { [ $(git stash create) ] && ( git stash save forcing; git \"$@\" ; git stash pop; ) || git \"$@\"; }; f"
[color]
    ui = true
[branch]
    autosetupmerge = true
[diff]
    renames = copies
    mnemonicprefix = true
