[user]
    name = sigh
    email = dilshan.a@gmail.com
[core]
    editor = vim
    excludesfile = ~/.gitignore
    pager = less -FXRiKa
[merge]
    tool = vimdiff
[alias]
    d = diff --relative
    h = help
    b = branch
    a = add
    m = merge

    st = status -sb
    ci = commit
    co = checkout
    ls = ls-files

    # short but comprehensive log
    l = log --date=short --first-parent --pretty=format:'%C(ul)%s%Creset%n%C(yellow)%h %Creset%ad %Cblue%ae %Cgreen(%cr)%Creset%Cred%d%n' --stat

    # display all commits in all branches
    rl = rev-list --pretty=oneline --all --graph --abbrev-commit --color=auto -n 100

    # open a github url for the current git repo
    hub = !git remote -v|sed "'s|.*git[:@]\\(.*\\).git.*|http://\\1|;s|m:|m/|'"|uniq|xargs open

    # view the staged changes
    staged = diff --cached

    # commit all with an message (which need not be quoted)
    cm = "!f() { git commit -a -m \"$*\" ; }; f"

    # Stash current working directory but save it as a tag
    save = "!f() { git tag \"$@\" \"$(git stash create)\" 2> /dev/null ; }; f"
    # Restort stash from tag
    restore = stash apply

    # force an action on a dirty working set
    #  if there are local changes then we stash them first
    force = "!f() { if git save -f __force ; then git reset --hard HEAD && git \"$@\" && git restore --quiet __force ; else git \"$@\"; fi ; }; f"

    # reset to HEAD while saving the working directory.
    safe-reset = "!f() { git save -f __before_reset && git reset --hard HEAD; }; f"

    # share the repo on the network.
    share = "!f() { git update-server-info && cd \"$(git rev-parse --git-dir)\" && webshare \"$@\"; }; f"
[color]
    ui = true
[branch]
    autosetupmerge = true
[diff]
    renames = copies
    mnemonicprefix = true
