[user]
	name = sigh
	email = dilshan.a@gmail.com
[core]
	editor = vim
[merge]
	tool = vimdiff
[alias]
	d = diff
	h = help

	st = status
	ci = commit
	co = checkout
	br = branch
	ls = ls-files

	stat = status
[color]
	ui = true
